.button-container
{
  & > button
  {
    font-weight: 600;
    padding: 0.4rem;
    font-size: 0.8rem;
    width: 100%;
    border: 0;
    height: 100%;
    background-color: $color-primary-1;
    color: $foreground-1;
    @include transition-1();
    @include box-shadow-2();
    cursor: pointer;
  }

  & > button:active
  {
    box-shadow: none;
  }

  & > button:hover
  {
    background-color: $color-dark-1;
  }
}